
#parallax
	img.back.wow.fadeIn.delay-2(src='images/1_background.jpg')
	img.middle.wow.fadeInRight.delay-1(src='images/1_font.png')
	img.front.wow.fadeInLeft.delay-0(src='images/1_kater.png')


.background

	#spritespin
	
	#weather.weather
		ul#characters
			li
				#char-left
					img(src="images/cold2.jpg")
					.sign.col
						img(src="images/svg/atmos_zima.svg")
						p <span>-50&deg;C</span>Подогрев винта исключает его обмерзание. С возможностью управления давлением в баллонах с места водителя, вам не страшны неровные участки суши и глубокий снег.
					.shadow
			li
				#char-right
					img(src="images/hot2.jpg")
					.sign.col
						img(src="images/svg/atmos_leto.svg")
						p <span>+50&deg;C</span>Моторный отсек надежно защищен от попадания влаги и прямых солнечных лучей, а эффективная система обдува препятствует перегреву двигателя даже при экстремально высоких температурах.
					.shadow
		.divider

article#princyp
article#aero
//- article#romantic
