aside#aside.cbp-aside.cbp-aside-vertical.cbp-aside-right.no-scroll
	header
		#test-drive-close 
			svg(width="50" height="50" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg")
				g
					line(fill="none" stroke-dasharray="null" stroke-width="1" stroke="#ffffff" id="svg_0" y2="50" x2="50" y1="0" x1="0")
					line(fill="none" stroke-dasharray="null" stroke-width="1" stroke="#ffffff" id="svg_1" y2="0" x2="50" y1="50" x1="0")

	.clear-fix
	.inner
		h1 Записаться<br>на тест драйв
		p Lorem ipsum dolor sit amet, eirmod apeirian ut mea. Accumsan consequat ut eum, et cum oportere deterruisset, ex legere quodsi nam. Nonumy vivendum erroribus nam ut, mazim soleat ei nec. Vel eu posse gubergren persequeris, eu deserunt consulatu philosophia eos. 

		form#order-form
			.input
				input(name="name", type="text", placeholder="Имя")
				input#phone(name="phone", type="text", placeholder="Телефон", required)
				input(name="email", type="email", placeholder="Почта")
			
			button Отправить
			p.mess
