section.section#section02
	.intro
		.row
			.col
				p.wow.fadeInUp.delay-0.
					<span class="timer" data-count="365">365</span> Дней в году можно эксплуатировать катер, вне зависимости от времени года и погодных условий.
			.col
				p.wow.fadeInUp.delay-2.
					<span class="timer" data-count="10">10</span> Миллиметров водной, снежной или ледяной толщи достаточно катеру, чтобы развить максимальную скорость.
			.col
				p.wow.fadeInUp.delay-4.
					<span class="timer" data-count="600">600</span> Километров может преодолеть катер без дозаправки. Дальность хода обеспечена двумя топливными баками общим объемом 250 литров.
			.col
				p.wow.fadeInUp.delay-6.
					<span class="timer" data-count="12">12</span> Посадочных кресел с учетом водительского максимально помещаются в салон катера.
