section.section#section05
	.intro
		.row
			.overview-ico
				img.wow.fadeInUp.delay-0(src='images/svg/atmos_vint.svg')
			.col
				h1.wow.fadeInUp.delay-2 Винт
				p.wow.fadeInUp.delay-2 Сверхпрочный авиационный винт разработки Hovernetic. Кольцо обеспечивает безопасность и тягу, лопасти из алюминиевого сплава устойчивы к обледенению и попаданию посторонних предметов. 