section.section#section15
	.intro
		.row
			.col3
				h1 Приборная панель
				p Уникальная разработка Hovernetic. Простая и эргономичная конструкция приборной панели Atmos 7 идеально подходит для катера данного класса. Компактные размеры не сказываются на ее функциональности, но в значительной мере экономят пространство в салоне.



