section.section#section01
	.intro
		.row
			p.wow.fadeIn.delay-6
				span.arrowDownOnHome
					svg(id="down" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="56.569px" height="29.06px" viewBox="0 0 56.569 29.06" enable-background="new 0 0 56.569 29.06")
						g
							polygon( fill="#FFFFFF" points="28.284,27.509 0.775,0 0,0.775 27.509,28.284 28.284,29.06 29.06,28.284 56.569,0.775 55.793,0")


