section.section#section17
	.intro
		.row
			.col
				h1.wow.fadeInDown.delay-0 Компания Hovernetic
				p.wow.fadeInDown.delay-1 Судостроительная компания HOVERNETIC занимается строительством современных катеров на воздушной подушке для круглогодичной эксплуатации в морских и речных бассейнах, на грунтовых и заснеженных поверхностях, заросшему мелководью, а также обводненным участкам суши без ограничения несущей способности.
			.clearfix
			.col.blue
				p.wow.fadeInDown.delay-4.
					<span>500</span>
					компаний по всему миру<br> 
					уже являются клиентами Hovernetic.<br> 
					Вот некоторые из них: 
			p.imgs
				img(src="images/svg/logos-01.svg")
				img(src="images/svg/logos-02.svg")
				img(src="images/svg/logos-03.svg")
				img(src="images/svg/logos-04.svg")
				img(src="images/svg/logos-05.svg")
				img(src="images/svg/logos-06.svg")

			.col
				p.wow.fadeInDown.delay-2 Т.: +7 (812) 458-06-05 
				p.wow.fadeInDown.delay-2.
					198515, Россия, Санкт-Петербург, 
					Петродворцовый район, 
					пос.к Стрельна, улица Связи, д. 34А
			.col
				p.wow.fadeInDown.delay-3.
					ЗАО «ХОВЕРНЕТИК»
					ИНН 7819318462 КПП 781901001
					Р/с 40702810955240002229
					в Северо-Западный банк 
					ОАО «Сбербанк России»
					К/с 30101810500000000653 
					БИК 044030653
