section.section#section09
	.intro
		.row
			#weather
				.col2
					div
						img(src="images/svg/atmos_zima.svg")
						p 
							span -50&deg;C
				.col2
					div
						img(src="images/svg/atmos_leto.svg")
						p
							span +50&deg;C
			.col 
				h1.wow.fadeInLeft.delay-0 Проходимость
				p.wow.fadeInLeft.delay-1 Atmos представляет собой универсальное транспортное средство для круглогодичных перевозок пассажиров в количестве до 7 человек в водных бассейнах с высотой волны до 0,6 м.
		
