section.section#section12
	.intro
		.row
			.col2
				h1.wow.fadeInRight.delay-0 <span>Стильный катер</span><br>на воздушной<br>подушке
			.manual
				p.wow.fadeInUp.delay-2 нажмите и перетаскивайте
