section.section#section08
	.intro
		.row
			.overview-ico
				img.wow.fadeInUp.delay-0(src='images/svg/atmos_motor.svg')
			.col
				h1.wow.fadeInUp.delay-2 Мотор
				p.wow.fadeInUp.delay-2 Надежный, хорошо укомплектованный морской дизельный двигатель Hyundai D170. Данная конструкция специально доработана для применения на катерах на воздушной подушке.