section.section#section14
	.intro
		.row
			.col3
				h1.wow.fadeInLeft.delay-0 Создан<br>для вашего<br><span>комфорта</span>
				p.wow.fadeInLeft.delay-1 Включите климат-контроль, сделайте погромче вашу любимую музыку и наслаждайтесь видами природы, сидя на кресле с отделкой из велюра. В просторном салоне на 7 пассажирских мест есть все, чтобы сделать вашу поездку увлекательным приключением при любых погодных условиях.
