section.section#section13
	.intro
		.row
			.col
				h1.wow.fadeInRight.delay-0 Дизайн
				p.wow.fadeInRight.delay-1 Являясь олицетворением технического прогресса и спортивной элегантности, Atmos демонстрирует свою уникальность в сегменте катеров на воздушной подушке. Стихия непредсказуема и мощна. Тому, кто управляет стихией, подвластен весь мир. Во всех направлениях и только вперед. Перед управляющим стихией расступаются земли и воды – нет мест, которых невозможно достичь. Atmos – это неудержимое стремление к свободе.
	
			img(src="images/mobile/design.png", alt="")