section.section#section13
	.intro
		.row
			.col3
				h1.wow.fadeInRight.delay-0 Дизайн
				p.wow.fadeInRight.delay-1 Являясь олицетворением технического прогресса и спортивной элегантности, Atmos демонстрирует свою уникальность в сегменте катеров на воздушной подушке. Стихия непредсказуема и мощна. Тому, кто управляет стихией, подвластен весь мир. Во всех направлениях и только вперед. Перед управляющим стихией расступаются земли и воды – нет мест, которых невозможно достичь. Atmos – это неудержимое стремление к свободе.
	
			.box-tooltip.wow.fadeIn.delay-3.tooltip_point( data-text="Модели средних размеров способны перевозить до 1000 килограмм. Суда промышленного класса позволяют перевозить грузы весом в десятки тонн. Крупные суда менее чувствительны к бортовой волне, а некоторые могут эксплуатироваться даже на морском побережье." data-title="Грузоподъемность" data-img="")
				svg(width="20" height="20" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg")
					g
						line(fill="none" stroke-dasharray="null" stroke-width="1" stroke="#ffffff" id="svg_0" y2="15" x2="10" y1="3" x1="10")
						line(fill="none" stroke-dasharray="null" stroke-width="1" stroke="#ffffff" id="svg_1" y2="9" x2="16" y1="9" x1="4")