section.section#section16
	.intro
		.row
			.col2.img
				.row.wow.delay-0.fadeInLeft
					h1 Надежность
					img(src="images/svg/atmos_nedeshnost.svg")
					p Выполненный из АМг1561БМ водонепроницаемый корпус обеспечивает катеру необходимую прочность и плавучесть. Шпангоуты и стрингеры придают конструкции жесткость при скручивании, продольном и поперечном изгибе. Для максимальной защиты от коррозии корпус подвергается тщательной обработке поверхностей – грунтовке и окраске.
					p Клепанный металлический корпус обладает самой высокой ремонтопригодностью.
			.col2
				.row.wow.delay-2.fadeInRight
					.col2
						img(src="images/svg/atmos_bezopastnost.svg")
					.col2
						h3 Безопасность
						p Строительство катеров в соответствии с единым европейским стандартом безопасности водного транспорта:<br>защита салона от возгорания двигателя.

				.row.wow.delay-4.fadeInRight
					.col2
						img(src="images/svg/atmos_nepotoplyaemost.svg")
					.col2
						h3 Непотопляемость
						p Водонепроницаемая конструкция металлического корпуса и герметичное примыкание кабины, запенивание полых частей и дополнительный запас плавучести за счет надувных бортов.

				.row.wow.delay-6.fadeInRight
					.col2
						img(src="images/svg/atmos_kontrol.svg")
					.col2
						h3 Контроль на курсе:
						p Оригинальные скеги HOVERNETIC делают катер более устойчивым и управляемым.


