section.section#section05
	.intro
		.row
			.overview-ico
				img.wow.fadeInUp.delay-0(src='images/svg/atmos_cabina.svg')
			.col
				h1.wow.fadeInUp.delay-2 Кабина
				p.wow.fadeInUp.delay-2 Элегантность форм и спортивный характер Atmos заставят вас забыть обо всем, что вы видели раньше. Легкую и прочную кабину из композитных материалов отличают прекрасная аэродинамика и низкий уровень шума.
