section.section#section10
	.intro
		.row
			.col 
				h1.wow.fadeInUp.delay-0 Аэродинамика
		.row
			.col3
				p.wow.fadeInUp.delay-0 Катера на воздушной подушке еще никогда не обладали такой превосходной аэродинамикой. Инженерам ATMOS удалось добиться значительного уменьшения сопротивления воздуха и, как следствие, увеличения максимальной скорости, а также снижения уровня шума и расхода топлива до 24 л/ч.
			.col3
				p.wow.fadeInUp.delay-2 На скорость катера влияет много факторов. Максимальную скорость можно развить на ледяной поверхности - до 150 км/ч. По воде или по рыхлому снегу максимальная скорость составит порядка 100 км/ч. Не стоит забывать о безопасной скорости движения водного транспорта.
			.col3
				p.wow.fadeInUp.delay-4 <span>24 л/ч</span> снижения<br>расхода топлива
