section.section#section11
	.intro
		.row
			.col3
				h1.wow.fadeInLeft.delay-0 Двигатель и мощность
				p.wow.fadeInLeft.delay-1 В зависимости от пожеланий закачика и требуемых параметров, катер может быть оснащен одним из представленных двигателей 

			.col
				.img-tooltip
					img(src="images/engine1.png")
					.box-tooltip.wow.fadeInUp.delay-3.tooltip_point(data-text!="Рядный 4-х цилиндровый морской дизельный двигатель Hyundai производства Кореи. Оборотистый, объемом 2.2 литра, оснащен системой Common Rail и развивает 125 кВт (170 л. с.).<br><br>Мотор протестирован в соответствии с Директивой Европейского Союза о маломерных судах (RCD) и соответствует последним стандартам экологической безопасности.<br><br>Дизельный двигатель Hyundai D170 сочетает в себе уверенную тягу в любой ситуации с экономичностью и низким уровнем эмиссии.")
						i
				p.wow.fadeInUp.delay-4 <small>Hyundai<br>Seasall D170</small><span>125 кВт</span>&nbsp;&nbsp;&nbsp;(170 л. с.)
			.col
				.img-tooltip
					img(src="images/engine2.png")
					.box-tooltip.wow.fadeInUp.delay-4.tooltip_point(data-text!="Проверенный и экономичный дизельный двигатель Iveco. Конструкция мотора дорабатывалась совместно с итальянскими инженерами завода-производителя. До мелочей продуманная схема установки, тяга на низких оборотах и широкий диапазон рабочих температур.<br><br>Рядный 4-х цилиндровый Iveco F1C объемом 3.0 литра развивает мощность 107 кВт (146 л. с.).")
						i
				p.wow.fadeInUp.delay-5 <small>Iveco<br>F1C</small><span>107 кВт</span>&nbsp;&nbsp;&nbsp;(146 л. с.)
			.col
				.img-tooltip
					img(src="images/engine3.png")
					.box-tooltip.wow.fadeInUp.delay-5.tooltip_point(data-text!="Выбирая японский бензиновый двигатель Toyota, вы получаете надежность, низкий уровень вибрации и шума, а также стабильную работу на высоких оборотах. Самый легкий из представленных моторов наиболее устойчив к некачественному топливу и, что не менее важно, имеет высокую степень запуска при низких температурах.<br><br>Toyota 2TR-FE - это рядный 4-х цилиндровый двигатель объемом 2.7 литра мощностью 120 кВт (160 л. с.).")
						i
				p.wow.fadeInUp.delay-6 <small>Toyota<br>2TR-FE</small><span>120 кВт</span>&nbsp;&nbsp;&nbsp;(160 л. с.)

