section.section#section12
	.intro
		.row
			.col
				h1.wow.fadeInRight.delay-0 <span>Самый<br>стильный катер</span><br>на воздушной<br>подушке
			#spritespin
			.manual
				p.wow.fadeInUp.delay-2 нажмите и перетаскивайте
