section.section#section04
	.intro
		.row
			.overview-ico
				img.wow.fadeInUp.delay-0(src='images/svg/atmos_podushka.svg')
			.col
				h1.wow.fadeInUp.delay-2 Подушка
				p.wow.fadeInUp.delay-2 Оригинальная «подушка» скегового типа, подкрепленная патентом на разработку, сделана вручную из износостойких бельгийских и финских тканей.
