section.section#section17
	.intro
		.row
			h1.wow.fadeInDown.delay-0 Компания HOVERNETIC
			.col2
				p.wow.fadeInDown.delay-1 Проектно-производственное предприятие HOVERNETIC занимается поставками современных катеров на воздушной подушке для нужд частных клиентов, а также специальных ведомств и отраслевых производственных предприятий.
			.col
				p.wow.fadeInDown.delay-2 Т.: +7 (812) 458-06-05<br>Е.: atmos@hovernetic.com<br>194044, Россия, Санкт-Петербург,<br>Финляндский пр, д. 4а, БЦ&nbsp;&laquo;Петровский Форт&raquo;
			.clearfix
			.col2.blue
				p.wow.fadeInDown.delay-4 Нам доверяют: 
			p.wow.fadeInDown.delay-5 
				img(src="images/svg/clients.svg")

