section.section#section03
	.intro
		.row
			.col
				h1.wow.fadeInUp.delay-2 Принцип действия
				img(src="images/atmos_princyp.png")
				p.wow.fadeInUp.delay-2 Воздушная подушка представляет собой слой сжатого воздуха под днищем катера, который приподнимает его над поверхностью воды или земли. От высоты подъёма зависит способность катера двигаться над различными препятствиями на суше или над волнами на воде.

