section.section#section07
	.intro
		.row
			.overview-ico
				img.wow.fadeInUp.delay-0(src='images/svg/atmos_rul.svg')
			.col
				h1.wow.fadeInUp.delay-2 Управление
				p.wow.fadeInUp.delay-2 Электрическая система управления рулями. Возможность установки различных устройств управления – рулевое колесо или джойстик на выбор.
