section.section#section11
	.intro
		.row
			.col
				.img-tooltip.wow.fadeIn.delay-0
					img(src="images/mobile/engine.png")
				.col2
					p.wow.fadeInUp.delay-3 <span>ECO</span> стандарт экологической безопасности
				.col2
					p.wow.fadeInUp.delay-4 <span>125</span><small>кВт</small> (170 л. с.)
		.row
			.col
				h1.wow.fadeInLeft.delay-0 Двигатель и экологичность
				p.wow.fadeInLeft.delay-1 4-х цилиндровый морской двигатель Hyundai. Оборотистый дизельный двигатель 2.2L I4 оснащен технологией Common Rail и развивает 125 кВт (170 л. с.). 
				p.wow.fadeInLeft.delay-2 Мотор протестирован в соответствии с Директивой Европейского Союза о маломерных судах (RCD) и соответствует последним стандартам экологической безопасности.
				p.wow.fadeInLeft.delay-3 Дизельный двигатель Hyundai D170 сочетает в себе уверенную тягу в любой ситуации с экономичностью и низким уровнем эмиссии.


