section.section#section10
	.intro
		.row
			img(src="images/mobile/aero.png", alt="")

			.col2
				p.wow.fadeInUp.delay-2 <span>20 л/ч</span> снижения<br>расхода топлива



			.col
				h1.wow.fadeInUp.delay-0 Аэродинамика
				p.wow.fadeInUp.delay-0 Катера на воздушной подушке еще никогда не обладали такой превосходной аэродинамикой. Инженерам Atmos удалось добиться значительного уменьшения сопротивления воздуха и, как следствие, увеличения максимальной скорости, а также снижения уровня шума и расхода топлива до 20 л/ч.
