section.section#section03
	.intro
		.row
			.col.small
				h3.wow.fadeInUp.delay-0 Воздушная подушка
				p.wow.fadeInUp.delay-0 Слой сжатого воздуха под днищем катера приподнимает его над поверхностью воды или земли, таким образом отсутствие трения о поверхность позволяет снизить сопротивление движению.
			.col2
				h1.wow.fadeInUp.delay-2 Принцип действия
				p.wow.fadeInUp.delay-2.
					От высоты подъёма на подушку зависит способность катера двигаться над различными препятствиями на суше или над волнами. 
					<br>Для уменьшения расхода воздуха, увеличения запаса плавучести и устойчивости катера на курсе, подушка по бортам ограждена жесткими надувными баллонами - скегами.

